*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --primary-text-color: #085185;
    --secondary-text-color: #020406;
    --accent-color:#ed449b;
    --accent-color-dark: #1d69a3;
    --padding-inline-section:20px

}
body{
    font-family: 'Times New Roman', Times, serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
    color: navy;
    display: flex;
    justify-content: center;
    padding: 10px;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;/* This is done so that the no underline occur
     as this text-decoration by default value is underline */
    display: inline-block;
}
.small-bold-text{
    font-size: 1rem;
    font-weight: 700px;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    padding: 20px;
    overflow: hidden;
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;

}
.top-banner{
    background-color: #4fb3d4;
}
.flex{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;

}
.hover-link{
    color: var(--primary-text-color);


}
.hover-link:hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}
.company-logo img{
    width: 70px;
    
}
.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
    position: relative;
}
.nav-toggle{
    display: none;
}
header{
    padding: 10px var(--padding-inline-section) 0;
}
.header-section{
    justify-content: center;
    
}
footer{
    background-color: #ebf2fa;
}
.footer-container{
    
    align-items: flex-start;
    justify-content: space-between;
}
.gap-footer{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.starting{
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    
}
.fit{
    object-fit: contain;
}
